
/*You cannot modify the html file*/

/*
select the albums class and add the following styles:
display the albums in a grid
the grid template columns should be responsive and each column should be equal to 300px
set a gutter of 20px between each column and row
*/


/*
select the album class and add the following styles:
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding of 20px;
  gutter of 10px;
  font-weight: 500;
  color: #fff;

  find a way to display it properly

*/

