/*We will use pseudo-classes to style our elements 😀.*/

/*
Select the alert class and a pseudo-class to display only elements that have contents :
1°) border with 3 pixels lightgreen and solid
2°) background color: seagreen
3°) white color text
4°) border radius of 5px
5°) a margin of 1rem
6°) a padding of 1rem
 */
.alert:not(:empty) {
    border: 3px solid lightgreen;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
}


/*
Select the first paragraph and set its font-size to 3rem and make the text italic
 */
.article p:first-of-type {
    font-size: 2rem;
    font-style: italic;
}


/*
Select the last paragraph and set its color to maroon
*/
.article p:last-of-type {
    color: maroon;
}



/*
Select every "even" paragraph and set its font-size to 1.5rem and text color  cornflowerblue
 */
 p:nth-of-type(even) {
     font-size: 1.5rem;
     color: cornflowerblue;
 }


/*
Select the solely blockquote and set :
1°) border left with 5px solid slategray;
2°) padding left with 1rem;
3°) font weight to bold;
4°) font style to italic;
5°) color to darkgray;
 */
blockquote:only-of-type {
    border-left: 5px solid slategray;
    padding-left: 1rem;
    font-weight: bold;
    font-style: italic;
    color: darkgray;
}

/*
select the first image and set its border to 10px solid red
 */
img:first-of-type {
    border: 10px solid red;
}
